<div class="container mx-auto py-5">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title"><%= project.title %></h2>
            <p class="mt-4 text-md text-gray-600"><%= project.description %></p>
            <% if(project.images.length > 0){ %>
                <div class="divider"></div>
                <h3 class="font-bold uppercase">Photos</h3>
                <div class="carousel carousel-center p-4 space-x-4 rounded-box">
                    <% for(let i = 1; i <= project.images.length; i++){ %>
                        <div id="item<%=i%>" class="carousel-item w-1/2">
                            <a href="#modal-<%=i%>"><img src="<%=project.images[i-1]%>" class="rounded-box" /></a>
                        </div>
                    <% } %>
                </div>

                <% for(let i = 1; i <= project.images.length; i++){ %>
                <div class="modal" id="modal-<%=i%>">
                    <div class="modal-box w-11/12 max-w-5xl">
                        <img src="<%=project.images[i-1]%>" class="w-full" />
                        <div class="modal-action">
                            <a href="#" class="btn">Close</a>
                        </div>
                    </div>
                </div>
                <% } %>
            <% } %>
        </div>
    </div>

    <div class="card bg-base-100 shadow-xl my-5">
        <div class="card-body">
            <h2 class="card-title">My Comment</h2>
            <% if(comment){ %>
                <div class="py-5">
                    <div class="flex items-center flex-1 font-bold leading-tight">
                        <div class="avatar placeholder pr-4">
                            <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
                                <% if(company.logo){ %>
                                <img src="<%= company.logo %>" />
                                <% } else { %>
                                <span class="text-3xl"><%= company.companyName.split(' ').map(w => w[0]).join('').toUpperCase() %></span>
                                <% } %>
                            </div>
                        </div>
                        <%= company.companyName %>
                        <span class="pl-4 text-xs font-normal text-gray-500"><%= project.createdAt.toLocaleString() %></span>
                    </div>
                    <div class="float-right">
                        <form action="/pro/projects/removeComment/<%= comment._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="text-accent cursor-pointer"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg></button>
                        </form>
                    </div>
                    <p class="mt-4 text-md text-gray-600"><%= comment.comment %></p>
                </div>
            <% } else { %>
                <form action="/pro/projects/addComment/<%=project._id%>" method="POST" class="col-3">
                    <div class="form-control">
                        <textarea id="comment" name="comment" class="textarea textarea-bordered" placeholder="Comment"></textarea>
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">Add Comment</button>
                    </div>
                </form>
            <% } %> 
        </div>
    </div>
</div>