<div class="flex flex-col lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Edit Project</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
        <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
            <form class="space-y-6" enctype="multipart/form-data" action="/projects/edit/<%= id %>?_method=PUT" method="POST">
                <div>
                    <label for="category" class="block text-sm font-semibold leading-6 text-gray-900">Category</label>
                    <div class="mt-2">
                        <select name="category" id="category" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 <%= typeof validationErrors != 'undefined' && validationErrors.categoryError ? 'border border-red-500' : 'border-0' %>" required>
                            <option disabled selected>Service type</option>
                            <option value="air conditioning" <%= typeof category != 'undefined' && category == 'air conditioning' ? 'selected' : '' %>>Air conditioning</option>
                            <option value="roofing" <%= typeof category != 'undefined' && category == 'roofing' ? 'selected' : '' %>>Roofing</option>
                            <option value="plumbing" <%= typeof category != 'undefined' && category == 'plumbing' ? 'selected' : '' %>>Plumbing</option>
                            <option value="painting" <%= typeof category != 'undefined' && category == 'painting' ? 'selected' : '' %>>Painting</option>
                            <option value="landscape" <%= typeof category != 'undefined' && category == 'landscape' ? 'selected' : '' %>>Landscape</option>
                            <option value="electrical" <%= typeof category != 'undefined' && category == 'electrical' ? 'selected' : '' %>>Electrical</option>
                            <option value="cleaning" <%= typeof category != 'undefined' && category == 'cleaning' ? 'selected' : '' %>>Cleaning</option>
                            <option value="handyman" <%= typeof category != 'undefined' && category == 'handyman' ? 'selected' : '' %>>Handyman</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="title" class="block text-sm font-semibold leading-6 text-gray-900">Title</label>
                    <div class="mt-2">
                        <input type="text" name="title" id="title" class="block w-full rounded-md py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 <%= typeof validationErrors != 'undefined' && validationErrors.titleError ? 'border border-red-500' : 'border-0' %>" placeholder="Project title" value="<%= typeof title != 'undefined' ? title : '' %>" required>
                    </div>
                </div>
                <div>
                    <label for="zipCode" class="block text-sm font-semibold leading-6 text-gray-900">Zip Code</label>
                    <div class="mt-2">
                        <input type="text" name="zipCode" id="zipCode" class="block w-full rounded-md py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 <%= typeof validationErrors != 'undefined' && validationErrors.zipCodeError ? 'border border-red-500' : 'border-0' %>" placeholder="Zip code" value="<%= typeof zipCode != 'undefined' ? zipCode : '' %>" required>
                    </div>
                </div>
                <div>
                    <label for="description" class="block text-sm font-semibold leading-6 text-gray-900">Description</label>
                    <div class="mt-2">
                        <textarea name="description" id="description" rows="3" class="block w-full rounded-md py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 <%= typeof validationErrors != 'undefined' && validationErrors.descriptionError ? 'border border-red-500' : 'border-0' %>" placeholder="Description" required><%= typeof description != 'undefined' ? description : '' %></textarea>
                    </div>
                </div>
                <div>
                    <label for="image-upload" class="block text-sm font-semibold leading-6 text-gray-900">Pictures</label>
                    <div class="mt-2">
                        <input type="file" id="image-upload" name="photos" class="block w-full rounded-md py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" multiple>
                    </div>
                </div>
                <div class="grid gap-x-8 gap-y-4 grid-cols-5 py-3" id="preview"></div>
                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Update Project</button>
                </div>
            </form>
        </div>
    </div>
</div>