<div class="container mx-auto py-5">
    <h1 class="text-3xl font-bold py-3">Edit Profile</h1>
    <section class="flex flex-col gap-2 mb-4">
        <form action="/profile/edit" method="POST">
            <div class="form-control">
                <label for="firstName" class="label">
                    <span class="label-text">First Name</span>
                </label>
                <input type="text" name="firstName" id="firstName" class="input input-bordered" placeholder="First name" value="<%= typeof firstName != 'undefined' ? firstName : '' %>" required>
            </div>
            <div class="form-control">
                <label for="lastName" class="label">
                    <span class="label-text">Last Name</span>
                </label>
                <input type="text" name="lastName" id="lastName" class="input input-bordered" placeholder="Last name" value="<%= typeof lastName != 'undefined' ? lastName : '' %>" required>
            </div>
            <div class="form-control">
                <label for="email" class="label">
                    <span class="label-text">Email</span>
                </label>
                <input type="text" name="email" class="input input-bordered <%= validationErrors.emailError || validationErrors.emailTakenError ? 'input-error' : '' %>" id="email" placeholder="Email Address" value="<%= typeof email != 'undefined' ? email : '' %>" required>
            </div>
            <div class="form-control">
                <label for="password" class="label">
                    <span class="label-text">Current Password</span>
                </label>
                <input type="password" name="password" class="input input-bordered <%= validationErrors.passwordError ? 'input-error' : '' %>" id="password" placeholder="*******" value="<%= typeof password != 'undefined' ? password : '' %>" required>
            </div>
            <div class="form-control">
                <label for="newPassword" class="label">
                    <span class="label-text">New Password</span>
                </label>
                <input type="password" name="newPassword" class="input input-bordered <%= validationErrors.newPasswordError ? 'input-error' : '' %>" id="newPassword" placeholder="*******" value="<%= typeof newPassword != 'undefined' ? newPassword : '' %>">
            </div>
            <div class="form-control">
                <label for="confirmNewPassword" class="label">
                    <span class="label-text">Confirm New Password</span>
                </label>
                <input type="password" name="confirmNewPassword" class="input input-bordered <%= validationErrors.confirmNewPasswordError ? 'input-error' : '' %>" id="confirmNewPassword" placeholder="*******" value="<%= typeof confirmNewPassword != 'undefined' ? confirmNewPassword : '' %>">
            </div>

            <div class="form-control mt-6">
                <button class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>